$primary:       #5a60da; // $blue !default;
$success:       #5bdf5b; // $green !default;
$info:          #ae33b7; //$cyan !default;
$warning:       #de942a; // $yellow !default;
$danger:        #f04641; // $red !default;
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;