$primary:       #5a60da; // $blue !default;
$success:       #5bdf5b; // $green !default;
$info:          #ae33b7; //$cyan !default;
$warning:       #de942a; // $yellow !default;
$danger:        #f04641; // $red !default;
