%page{ heading: 'Plans' }
  .row
    .col-md-8.mb-2.white-bg
      .table-responsive
        %table.table.table-hover.col-12.table-sm.table-plan
          %thead
            %tr
              %th YOUR ID
              %th PLAN
              %th AMOUNT
              %th MONTHLY
              %th
          %tbody{ is: 'plan_list', ':initial_plans': @plans.to_json }
    .col-md-4.mb-2
      %plan_form{ ':plan_attributes' => Plan.new.to_json(except: [:created_at, :updated_at]) }
