%page{ heading: 'Plans' }
  .row
    .col-md-8.white-bg
      .table-responsive
        %table.table.table-hover.col-12.table-sm.table-plan
          %thead
            %tr
              %th YOUR ID
              %th PLAN
              %th AMOUNT
              %th
          %tbody{ is: 'plan_list', ':initial_plans': @plans.to_json }
    .col-md-4
      %plan_form{ ':plan_attributes' => Plan.new.to_json(except: [:created_at, :updated_at]) }
/ %tbody
/   - @plans.each do |plan|
/     %tr
/       %td= plan.name
/       %td= number_to_currency plan.total_monthly
/       %td= plan.customers.size