%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#mainNav{ role: "navigation" }
  .container-fluid
    %a.navbar-brand.js-scroll-trigger{ href: "/" } Subsdash
    %ul.navbar-nav
      %li.nav-item
        = link_to 'Plans', plans_path, class: "nav-link"
      %li.nav-item
        = link_to 'Customers', customers_path, class: "nav-link"
